
/*General----------------------------------------------------------------------------------------*/

::placeholder{color: rgb(190, 190, 190);}


body{
    background-color: rgb(22 22 22);
    margin: 0;
    width: 100%;
}


/*contact----------------------------------------------------------------------------------------*/

/*nav----------------------------------------------------------------------------------------*/
nav.main{
    z-index: 1000 !important;
    position: sticky;
    display: flex;

    
    margin: 0;
    top: 0;
    height: 4em;
    width: 100%;
    background-color: rgb(85, 85, 85);
    box-shadow: rgba(50, 50, 93, 0.178) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

nav.main .burger{
display: none;
}

.main a{
    position: relative;
    height: 1.5em;
    border-radius: 8px;
}

.main button{
    cursor: pointer;
}

.searchbox {
    box-sizing:border-box;
}

.searchbox input{

    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 500;
    height: 35px;
    background: url(https://i.imgur.com/lrQiTER.png) no-repeat 1%;
    background-position: 4px;
    background-size: 25px;
    background-color: rgba(0, 0, 0, 0.027);
}

.main a.loginbtn button{
color: rgb(30, 199, 30);

}

.main button{
      background: none;
      backface-visibility: hidden;
      border: none;
      font-size: 1.125rem;
      font-weight: 700;
      letter-spacing: -.01em;
      line-height: 1.3;
      box-sizing: border-box;
      color: #212121;

    }
    .cart{
        height: 30px;
        margin-right: 15px;
        margin-top: 16px;
        margin-right: 50px;
        cursor: pointer;
    
    }
    
    .cart:hover{
    transform: scale(1.2);
    }



/*content----------------------------------------------------------------------------------------*/

.mycontainer{
    border-radius: 13px;
    background-color: rgb(48 48 48);
    background-color: rgb(77, 77, 77);
    box-shadow: -1px -1px 28px -1px rgba(0,0,0,1);
         margin-left: 15%;
    margin-right: 15%;
    padding-top: 1.5%;
    padding-bottom: 2.5%;
    margin-top: 3%;
margin-bottom: 3%;
    width: 70%;
}


/*footer----------------------------------------------------------------------------------------*/

footer{
    background-color: rgb(77, 77, 77);
    box-shadow: inset 0px 3px 50px -1px rgba(0,0,0,0.29);

    overflow:auto;
    padding-top: 15px;
    padding-bottom:8px;;
}

footer .cont{
    position: relative;
}

footer .logo{
float: left;
width: 5%;


}

footer .logo img{
    height: 40px;
opacity: 0.75;
}

footer .copyright{
    float: left;
    width: 40%;
    padding-top: 7px;
}
footer .list{
    float: left;
    width: 30%;
    padding-top: 7px;
    list-style: none;
}
footer .list li a{
text-decoration: none;
opacity: 0.8;
color: black;
}

footer .list li{
    display: inline-block;
}


footer .social{
    float: left;
    width: 25%;
}
footer .social img{
margin-right: 15px;
border: 2px solid rgb(117, 117, 117);
border-radius: 50%;
cursor: pointer;
height: 40px;
opacity: 0.75;
}
footer .social img:hover{
transform: scale(1.3);
opacity: 1;
    }


@media screen and (max-width: 588px){

/*contact*/
.mycontainer .content{
    width: 75%;
    margin-left: 12%;
}

.mycontainer .content p{
    display: inline-block;
    font-size: 1em;
}

.mycontainer .content h2{
    margin-left: 30%;
    color: rgb(66, 224, 52);

    }

.mycontainer .content .form1 .name{
    margin-left: 3%;
width: 42%;
height: 20px;
}

.mycontainer .content .title1{
    margin-left: 9%;
    }

.mycontainer .content .form1 .email{
    width: 42%;
    height: 20px;
    margin-left: 2%;
    }

    .mycontainer .content .title2{
        margin-left: 37.5%;
        }

    .mycontainer .content .message{
        line-height: 1.5em;
        margin-left: 3%;
        margin-top: 1%;
        width: 92%;
        height: 250px;
        }
        .mycontainer .content button{
            margin-left: 38%;
            margin-top: 1%;
            }


/*contactend*/


    /* nav---------------------------------------------------*/

    .navlogo{
        position: fixed;
        left: 45%;
        margin-top: 6px;
        width: 50px;
        height: auto;
    }

    nav.main .burger{
        display: inline-block;
        position: fixed;
        left: 8%;
        margin-top: 12px;
        width: 40px;
        height: 40px;
        }

    .main a{
        display: none;
    }


    .cart{
        display: none;
    }

    .searchbox {
        display: none;
    }

    /* burger---------------------------------------------------*/

    
    /* content---------------------------------------------------*/
    .mycontainer{
        border-radius: 8px;
        margin-left: 8%;
        margin-right: 8%;
        width: 84%;
    }

    /* footer---------------------------------------------------*/

    footer .cont{
    width: 90%;
    margin-left: 1%;
    }

    footer .copyright{
        margin-left: 12%;
        width: 80%;
    }

    footer .list{
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        padding-top: 0px;
    }
    footer .social{
        text-align: center;
        width: 100%;
    }
}
@media screen and (min-width: 589px)and (max-width: 768px){

/*contact*/
.mycontainer .content{
    width: 75%;
    margin-left: 12%;
}

.mycontainer .content p{
    display: inline-block;
    font-size: 1.4em;
}

.mycontainer .content h2{
    margin-left: 35%;
    color: rgb(66, 224, 52);

    }

.mycontainer .content .form1 .name{
    margin-left: 9%;
width: 40%;
height: 20px;
}

.mycontainer .content .title1{
    margin-left: 9%;
    }

.mycontainer .content .form1 .email{
    width: 40%;
    height: 20px;
    margin-left: 2%;
    }

    .mycontainer .content .title2{
        margin-left: 37.5%;
        }

    .mycontainer .content .message{
        line-height: 1.5em;
        margin-left: 9%;
        margin-top: 1%;
        width: 85%;
        height: 250px;
        }
        .mycontainer .content button{
            margin-left: 48%;
            margin-top: 1%;
            }

/*contactend*/


    /* general---------------------------------------------------*/
    body{
        margin: 0;
        width: 100%;
    }

    /* nav---------------------------------------------------*/

    .main {
        width: 100%;
    }

    .navlogo{
        position: relative;
        left: 3%;
        margin-right: 5%;
        margin-top: 6px;
        width: 52px;
        height: 52px;
    }

    .main a{
        margin-top: 20px;
        margin-left: 0px;
    }

    .cart{
        display: none;
    }

    .searchbox {
        width: 30%;
        margin-left: 30px;
        margin-right: 15px;
        margin-top: 17px;
    }
    
    .searchbox input{
        width: 100%;
        padding-left: 30px;
    }

    /* content---------------------------------------------------*/

    .mycontainer{
        margin-left: 10%;
        margin-bottom: 3%;
        width: 80%;
    }

    /* footer---------------------------------------------------*/


    footer .cont{
        left: 5%;
        width: 90%;
        }
    
        footer .copyright{
            margin-left: 5%;
            margin-right: 5%;
            width: 20%;
        }
    
        footer .list{
            margin-left: 0;
            padding-left: 0;
            margin-right: 5%;
            width: 20%;
            padding-top: 0px;
        }
        footer .social{
            width: 30%;

        }

}
@media screen and (min-width: 769px){


/*contact*/
.mycontainer .content{
    width: 75%;
    margin-left: 12%;
}

.mycontainer .content p{
    display: inline-block;
    font-size: 1.4em;
}

.mycontainer .content h2{
    margin-left: 42%;
    color: rgb(66, 224, 52);

    }

.mycontainer .content .form1 .name{
    margin-left: 9%;
width: 40%;
height: 20px;
}

.mycontainer .content .title1{
    margin-left: 9%;
    }

.mycontainer .content .form1 .email{
    width: 40%;
    height: 20px;
    margin-left: 2%;
    }

    .mycontainer .content .title2{
        margin-left: 37.5%;
        }

    .mycontainer .content .message{
        line-height: 1.5em;
        margin-left: 9%;
        margin-top: 1%;
        width: 83.2%;
        height: 250px;
        }
        .mycontainer .content button{
            margin-left: 48%;
            margin-top: 1%;
            }


/*contactend*/



    .navlogo{
        margin-left: 15px;
        margin-top: 4px;
        width: 55px;
        height: 55px;
    }

    .searchbox {
        width: 55%;
        margin-left: 30px;
        margin-right: 15px;
        margin-top: 17px;
    }
    
    .searchbox input{
        width: 100%;
        padding-left: 30px;
    }

.main a{
    margin-top: 20px;
    margin-left: 30px;
}


    footer .cont{
        left: 10%;
    width: 79%;
    margin-left: 6%;
    
    }
}